<h1>This is the index of Transportation</h1>


<% @transportations.each do |transportation|%>
  <ul>
    <li> <%= transportation.price %></li>
    <li> <%= transportation.origin %></li>
    <li> <%= transportation.mean %></li>
    <li> <%= transportation.destination %></li>
  </ul>
