// Specific CSS for your home-page.
.container-green {
  background-color: #F3F5FF;
  border-radius: 20px;
  width: 1100px;
  height: 335px;
}


#container-green-why-us {
  font-size: 40px;
  font-family: $fredoka;
}
