<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to "Momento", root_path, class: "btn btn-light" %>
    <%= link_to "Sign in", new_user_session_path, class: "btn btn-light" %>
  </div>
</nav>
