<nav class="navbar navbar-transparent">
  <div class="container-fluid">
    <%= link_to root_path do%>
      <%= image_tag "Logo.png", style: "height: 50px;" %>
    <% end %>
    <div class="d-flex">
      <% if user_signed_in? %>
        <%= link_to "My trips", trips_path, class: "btn", id: "my-trips-btn" %>
      <% end %>
      <%= render 'shared/avatar' %>
    </div>
  </div>
</nav>
