<div class="container">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h6 class="card-subtitle mb-2 text-muted">Transports</h6>
       <h6>Your trip to <%= @transportations.first.destination %> is in </h6>
    </div>
  </div>
</div>
