.accomodation-card {
  background-color: #DCF2E9;
  border: rgb(194, 191, 191) 1px solid;
  border-radius: 8px;
  box-shadow: 2px 2px 3px gray;
  text-align: center;
  position: relative;
  width: 200px;

  img {
    width: 100px;
  }

  .title {
    text-align: left;
  }

  .price {
    text-align: right;
  }

  .likes {
    text-align: right;
  }

  .cross {
    position: absolute;
    top: 3px;
    right: 8px;
  }

  .form-check {
    text-align: left;
    font-size: 12px;
  }

  .label {
    font-size: 12px;
  }
  p {
    margin-bottom: 0!important;
  }
}

.accomodation-card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
  margin: 1em 0;
  overflow: scroll;
  height: 150px;
}

.accomodation-card-photo {
  display: flex;
}
.index-img {
  width: 100%;
  object-fit: cover;
}

.accomodation-card-top {
  justify-content: center;
}

.accomodation-card-center {
  display: flex;
  justify-content: space-around;
  margin-bottom: 6px;
}

.accomodation-card-bottom {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.accomodation-card-description {
  font-size: 12px;
  overflow: scroll;
  word-wrap: break-word;
}


input[type=text]:focus {
  outline: none;
}


.mapbox-acc{
  height: 300px;
  width: 300px;
  margin: 0rem 1rem 1rem 1rem;
  border-radius: 20px;

}
