.accomodation-card {
  background-color: #DCF2E9;
  border: rgb(194, 191, 191) 1px solid;
  border-radius: 8px;
  box-shadow: 2px 2px 3px gray;
  text-align: center;
  display: flex;
  position: relative;
  width: 200px;
  align-items: end;
  justify-content: space-between;

  img {
    width: 100px;
  }

  .title {
    text-align: left;
  }

  .price {
    text-align: right;
  }

  .likes {
    text-align: right;
  }

  .cross {
    position: absolute;
    top: 3px;
    right: 8px;
  }

  .form-check {
    text-align: left;
    font-size: 12px;
  }

  .label {
    font-size: 12px;
  }
  p {
    margin-bottom: 0!important;
  }
}

.accomodation-card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
  margin: 1em 0;
  height: 130px;
}

.index-img {
  width: 150px;
}
