.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
}

.avatar-large {
  width: 56px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
  position: relative;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-more-participants {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #42abb3;
  text-align: center;
  background-color: rgba($color: #42abb3, $alpha: 0.3);
  border: 1px solid #42abb3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-more-friends {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #B74D6B;
  text-align: center;
  border-color: #B74D6B;
  background-color: rgba($color: #B74D6B, $alpha: 0.3);
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
.avatar-uninvited {
  position: relative;
  width: 40px;
  height: 40px;
  transition: transform 0.4s;
  background: none;
  background-color: white;

}

.avatar-uninvited:hover {
  transform: scale(1.2);
  .add-friend {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.add-friend {
  display: none;
  background-color: rgba(0,0,0,0.2);
  color: white;
  position: absolute;
  top: 0;
  left: 0px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: transform 0.4s;
}

.avatar-show {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 15;
  transition: transform 0.4s;
}

.avatar-show:hover {
  cursor: pointer;
  transform: scale(1.2);
}
