.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
}

.avatar-large {
  width: 56px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
  position: relative;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-more-participants {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
  text-align: center;
  background-color: rgba($color: #000000, $alpha: 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -10px;
}

.avatar-more-friends {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  text-align: center;
  background-color: rgba($color: #000000, $alpha: 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
.avatar-uninvited {
  position: relative;
  width: 40px;
  height: 40px;
  transition: transform 0.4s;
  background: none;
  background-color: white;

}

.avatar-uninvited:hover {
  transform: scale(1.1);

  .add-friend {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.1);
  }
}

.add-friend {
  display: none;
  background-color: rgba(0,0,0,0.2);
  color: white;
  position: absolute;
  top: 0;
  left: 0px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: transform 0.4s;
}
