.banner {
  min-height: 100vh;
  background-color: #F2FAEF;
}

.banner-titles {
  padding-top: 150px;
}

#banner-title {
  font-size: 60px;
}

#banner-description {
  font-size: 25px;
  padding: 20px;
}
