.btn-homepage {
  font-family: $fredoka;
  background-color: #1E3658;
  color: white;
  border-radius: 4px;
  font-size: 20px;
  width: 150px;
  position: relative;
  z-index: 2;
}
.btn-homepage:hover {
  background-color: #F79F79;
  color: white;
 }
.btn-banner {
  color: black;
  padding: 8px 24px;
  border-radius: 30px;
  background: #A6DADE;
  margin-top: 15px;
  width: 180px;


  &:hover {
    font-weight: bold;
    color: black;
  }
}

.btn-add {
  height: 30px;
  width: 30px;
  background-color: white;
  color: #F79F79;
  border: solid 1px;
  border-color: #F79F79;
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 19px;
  right: 19px;
  z-index: 1;
}

.btn-add:hover {
 background-color: #F79F79;
 color: white;
}

.btn-more-infos {
  position: absolute;
  top: 16px;
  right: 10px;
  z-index: 1;
  background: none;
  color: rgba(0,0,0,0.4);
  text-decoration: underline;
  border: none;
}
.btn-more-infos:hover {
  background: none;
}
.btn-more-infos:focus {
  background: none;
  border: none;
  box-shadow: none;
}
.btn-more-infos:active {
  background: none;
  border: none;
  box-shadow: none;
}
.btn-more-infos:active:focus {
  border: none;
  box-shadow: none;
}

.btn-join-event {
  cursor: pointer;
  display: inline-block;
  font-size: 0.7rem;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  background-color: white;
  color: rgba($color: #000000, $alpha: 0.4);
  border: solid 1px;
  border-color: rgba($color: #000000, $alpha: 0.4);
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}
.btn-join-event:hover {
  border-color: black;
  color: black;

}

#my-trips-btn {
  margin-right: 15px;
  background-color: #d3e9ce;
  border-radius: 8px;
}

.fav-button {
  color: black;
  text-decoration: none;
  font-size: 14px;
  padding: 10px;
}

.fav-button:hover {
  color: red !important;
}

.btn-index {
  background-color: rgba($color: #1E3658, $alpha: 1);
  color: white;
  border-color: rgba($color: #1E3658, $alpha: 1);
  border-radius: 5px;
  padding: 5px;
  transition: transform 0.4s;
}

.btn-index:hover {
  transform: scale(1.07);
}

#btnMessageSend {
  background: none;
  border: none;
}
