// TIMELINE HOMEPAGE
.card-timeline {
  overflow: hidden;
  height: 120px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 20px;
  background-color: #A8DADC;
}

.number-card-timeline {
  width: 66px;
}

.card-timeline h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-timeline .card-timeline-infos {
  background-color: #F4F4F4;
  padding: 16px;
  height: 100%;
  width: 80%;
}

// CARDS WHY US? HOMEPAGE
.card-product {
  overflow: hidden;
  height: 120px;
  background-color: #F3F5FF;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 75px;
  width: 75px;
  object-fit: cover;
  background-color: #A7DADD;
  border-radius: 20px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 12px;
}

.card-dashboard-description {
  background-color: white;
  border-radius: 20px;
  margin-top: 10px;
  padding: 15px;
  overflow: scroll;
}

.card-dashboard-left {
  background-color: white;
  height: 150px;
  border-radius: 20px;
  margin-top: 10px;
  padding: 15px;
  width: 45%;
  margin: 10px;
}

.card-activities {
  background-color: white;
  height: 320px;
  border-radius: 20px;
  padding-top: 15px;
  margin: 10px;
    p {
      color: rgba($color: #000000, $alpha: 0.4);
    }
}

.card-photo-carousel {
  background-color: white;
  height: 260px;
  border-radius: 20px;
  margin-top: 10px;
  padding: 15px;
  margin: 10px;
}

.card-messages {
  background-color: white;
  height: 100vh;
  border-radius: 20px;
  margin-top: 10px;
  padding: 15px;
  margin: 10px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 20.31%);
  // max-height: 100vh;
  }


.card-expenses {
  height: 100%;
}

// CARDS ACCOMODATIONS INDEX

#IndexAccomodationModal .modal-header {
  border-bottom: none;
}

.card-index-accomodation {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-index-accomodation > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-index-accomodation h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-index-accomodation p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-index-accomodation .card-index-accomodation-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-index-accomodation-infos .card-index-accomodation-user {
  position: absolute;
  right: 16px;
  top: -15px;
  // width: 40px;
  background-color: white;
  border-radius: 50%;
}

.modal{
  backdrop-filter: blur(3px);

  .card  {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: none;

    .list-group-item {
      border-bottom: 1.5px solid #50587C;
      padding-top: 50px;
    }
  }
}
