
.delete-action-activity {
  color: red!important;
  font-size: 12px!important;
  font-size: bold;
  text-decoration: none!important;
}

.list-right {
  left: auto !important;
  right: 0 !important;
}

#events-index {
  height: 80%;
  overflow-y: scroll;
}
