li {
  list-style-type: none;
}

.event-description {
  font-weight:bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

:focus:active {
  box-shadow: none;
}

:focus:target {
  box-shadow: none;
}

:focus {
  box-shadow: none!important;
}
