
// CREATE ACCOMODATION
.btnAddUrl {
  height: 39px;
  margin-top: 31px;
}

.inputUrlAccomodation {
  width: 100%;
  flex-grow:1 !important;
}
.transportation-form{
  .origin-destination, .transportation-dates{
    display: flex;
    justify-content: space-between;
  }
}

.event-dates{
  display: flex;
  justify-content: space-between;

}

.input-expenses{
  display: flex;
  justify-content: space-between;
}

.inline-question {
  width: 45%;
}
