// CREATE TRANSPORTATION
.btnAddTransportation:hover {
  background-color: #F8B293;
  color: black;
  border-color: #F8B293;
}

// CREATE EVENT
.btnAddEvent:hover {
  background-color: #F8B293;
  color: black;
  border-color: #F8B293;
}

// CREATE TRIP
.btnAddTrip:hover {
  background-color: #F8B293;
  color: black;
  border-color: #F8B293;
}

// CREATE EXPENSE
.btnAddExpense:hover {
  background-color: #F8B293;
  color: black;
  border-color: #F8B293;
}

// CREATE ACCOMODATION
.btnAddUrl {
  height: 39px;
}
.btnAddUrl:hover {
 background-color: #F8B293;
 color: black;
 border-color: #F8B293;
}
.btnAddAccomodation:hover {
  background-color: #F8B293;
  color: black;
  border-color: #F8B293;
}

.inputUrlAccomodation {
  width: 100%;
  flex-grow:1 !important;
}
.transportation-form{

  .origin-destination, .transportation-dates{
    display: flex;
    justify-content: space-between;
  }
}

.event-dates{
  display: flex;
  justify-content: space-between;

}

.input-expenses{
  display: flex;
  justify-content: space-between;
}

input::placeholder {
  font-size: 16px;
  text-indent: -10px;
  text-transform: none;
}

input[type="text"]::placeholder {
  margin-left: -10px;
  text-transform: none;
}

input[type="url"]::placeholder {
  margin-left: -10px;
  text-transform: none;
}

input[type="number"]::placeholder {
  margin-left: -10px;
  text-transform: none;
}

input[type="submit"] {
  height: 57.5px;
  color: white;
}

textarea::-webkit-input-placeholder {
  font-size: 16px;
  text-indent: -10px;
  text-transform: none;
}

textarea:-moz-placeholder { /* Firefox 18- */
  font-size: 16px;
  text-indent: -10px;
  text-transform: none;
}

textarea::-moz-placeholder {  /* Firefox 19+ */
  font-size: 16px;
  text-indent: -10px;
  text-transform: none;
}

textarea:-ms-input-placeholder {
  font-size: 16px;
  text-indent: -10px;
  text-transform: none;
}

textarea::placeholder {
  font-size: 16px;
  text-indent: -10px;
  text-transform: none;
}

.accomodation_title {
  flex-grow: 1;
  padding-right: 5px;
}

.accomodation_address {
  flex-grow: 1;
  padding-right: 5px;
  border-bottom: 1.5px solid rgba(0,0,0,0.3);
  margin-right: 10px;
  margin-left: 6px;
}

.accomodation_price {
  flex-grow: 1;
}

.accomodation_url {
  flex-grow: 1;
}


.form-control {
  padding: 1rem 3.125rem 1rem 0rem;
  color: #0E0000;
  border-top: none;
  border-right: none;
  border-left: none;
  // border-bottom: 1.5px solid #000;
  border-bottom: 1.5px solid rgba(0,0,0,0.3);
  background-color: transparent;
  border-radius: 0px;
}

.form-control:focus {
  background-color: white;
}

.inline-question {
  width: 45%;
}

.inline-question {
  width: 45%;
}

.mapboxgl-ctrl-geocoder {
  max-width: none;
  width: 100%;
  border: 1px solid lightgrey;
  box-shadow: none;
}

.mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
  border: none;
  padding-top: 15px;
}

.mapboxgl-ctrl-geocoder--input {
  border: none;
  padding-bottom: 1rem;
}

.mapboxgl-ctrl-geocoder--pin-right {
  display: none;
}

.transportation_origin {
  border-bottom: 1.5px solid black;
  padding-left: 13px;
  padding-right: 5px;
}

.transportation_destination {
  border-bottom: 1.5px solid black;
  padding-left: 13px;
  padding-right: 5px;
}

.datepicker {
  background-color: white !important;
}

.form-select {
  background-color: white !important;
}


.suggestions-wrapper {
  position: absolute;
  background-color: white;
  border: 0.5px solid rgba(0,0,0,0.2);
  padding-right: 20px;
}

.modal-content {
  border-radius: 10px;
}

.transportation_mean {
  width: 100%;
}

#transportation_price {
  background-color: white;
}

#expense_title {
  background-color: white;
}

#expense_amount {
  background-color: white;
}

#accomodation_title {
  background-color: white;
}

#accomodation_price {
  background-color: white;
}

#accomodation_img {
  background-color: white;
}

#accomodation_description {
  background-color: white;
}

#event_description {
  background-color: white;
}
