
.img-banner {
  z-index: 1;
  position: absolute;
}

#first-image {
  right: 340px;
  width: 250px;
}

#second-image {
  left: 250px;
  width: 300px;
}

#third-image {
  width: 60px;
  top: 360px;
  left: 180px;
}
