.chatroom {
  height: 100%;
  display: flex;
  flex-direction: column;
  .title-trip-chat, .form-trip-messages {
    flex: 0 0 auto;
  }
  .trip-messages {
    flex: 1;
    overflow: scroll;
  }
}

#message_content {
  padding: 0!important;
  box-shadow: none!important;
}

.text {
  border-color: none!important;
  resize: none!important;
}

.textarea {
  resize: none;
}
