.c-message {
  display: flex;
  align-items: center;
  width: 90%;
  margin-bottom: 1rem;
}
.c-message__content {
  margin: 0 0.8rem;
  width: 100%;
  line-height: 1.3rem;
}
.c-message__content__bubble {
  background-color: rgba(132, 205, 211, 0.7);
  padding: 0.25em 0.75em;
  border-radius: 20px;
  line-break: auto;
  padding: 1rem;
  font-size:0.9rem;
}
.c-message__content__date {
  font-size: 0.7rem;
  opacity: 0.6;
}

.c-message.my-message {
  margin-left: auto;
  flex-direction: row-reverse;
  .c-message__content__bubble {
    background-color: rgba(158, 215, 219, 0.4);
  }
}

.message_content .text .required{
  margin-bottom: 0px !important;
}


$primary: #79C7C5;
$secondary: #A1E2D9;
$white: #F9FBFF;
$dark: #777777;



#chatroom {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  > .text-center, .form-trip-messages {
    flex: 0 0 auto;
  }
  .trip-messages {
    flex: 1;
    overflow: scroll;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 20px 20px 0 0;

  }
  > .text-center{
    background-color: #F2F2F2;
    border-radius: 20px 20px 0 0;
  }
}

.form-trip-messages{
  background-color: #F2F2F2;
  border-radius: 0 0 20px 20px;
}

.simple-form-messages{
  background-color: #F2F2F2;
  // position: absolute;
  // height: 55px;
  bottom: 0;
  border-radius: 0 0 20px 20px;
  margin-top: 1rem;
  margin-left: 1rem;
  .input-message{
    height:50%;
    width: 80%;
  }

  .textarea.form-control{
    border-bottom: none !important;
    padding-top:none !important;
  }
  button{
    // position: absolute;
    background-color: #F2F2F2;
    // top:  19px;
    opacity: 0.8;
    padding-right: 1rem;
    margin-bottom: 1rem;
    // right: 17px;
    html {
        display: grid;
        min-height: 100%;
      }
    }
  }

.form-control:focus{
  background-color: #F2F2F2;
  box-shadow: none;
}

#message_content {
  // padding: 0!important;
  box-shadow: none!important;
  margin-bottom: -1rem;
  background-color: #F2F2F2;
}

.text {
  border-color: none!important;
  resize: none!important;
}

.textarea {
  resize: none;
  // margin-top: 1rem;
  // margin-bottom: -1rem;
  // margin-left: 1rem;
  background-color: #F2F2F2;

}
