.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  position: fixed;
  width: 100vw;
  z-index: 5;
}

.navbar-transparent {
  background-color: transparent;
}

.navbar-white {
  background-color: white;
}

#dropdown-menu-avatar {
  border-radius: 10px;
  font-family: $fredoka;

}

#dropdown-item-avatar {
  font-size: 18px;
}
