.transportation-ticket{
  background-color:#3A405A;
  color:white;
  border-radius: 20px;
  height: 13rem;
  position:relative;
  .circle-ticket-left{
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: white;
    position:absolute;
    top:5rem;
  }
  .circle-ticket-right{
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: white;
    position:absolute;
    top:5rem;
    left:60.9rem;
  }
  .departure-ticket{
    margin-top: 1rem;
    text-align: center;
    height: 25%;
    justify-content: center;
  }
  .origin-destination-infos{
    height: 33%;
    font-size:1rem;
    p{
      color:white;
      font-size:1rem;
    }
    .origin-infos{
      padding-left: 5rem;
      overflow: scroll;
      .city-ticket{
        font-size:2rem;
      }
    }
    .destination-infos{
      padding-right:5rem;
      text-align: right;
      overflow: scroll;
      .city-ticket{
        font-size:2rem;
      }
    }
  }
  .departure-time{
    height: 33%;
    padding-left: 4.2rem;
    padding-top: 1rem;
    .fa-clock{
      margin-top: 0.25rem;
    }
    button{
      width: 50px;
      height: 50px;
      background-color: transparent;
      color: #F79F79;
      padding: none;
      border: none;
    }
  }

  .ticket-globe{
    color:#3A405A;
    // margin: 3rem 8rem;
    .fa-globe-europe{
      background-color:#F79F79;
      font-size:3rem;
      padding: 1rem;
      border-radius: 50%;
    }
    p{
      border-bottom:#F79F79 solid;
    }
  }
}

.edit-transportation{
  color:#F2F2F2 !important;
  position: absolute;
  right: 6.1rem;
  bottom: 0.5rem;
  &:hover{
    color: #F79F79 !important;
  }
}

hr{
  position: relative;
  top:2rem;
  color: #F79F79;
  font-size: xx-large;
  // border-top: 10px solid #F79F79;
  height: 4px;

}
