.trip-card {
  background-color: #F79F79;
  border: rgb(194, 191, 191) 1px solid;
  border-radius: 8px;
  position: relative;
  display: flex;
  height: 250px;
  box-shadow: 2px 2px 3px gray;

    p {
      font-size: 16px;
    }

    img {
      width: 50px;
      height: 50px;
      border-radius: 8px;
      position: absolute;
      right: 8px;
      top: 8px;
    }
}

.trip-card-left {
  width: 61%;
  p {
    height: 67%;
    padding: 0px 10px;
    overflow: hidden;
    font-size: 13px;
  }

  h4 {
    padding: 10px 10px;
    font-size: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  a{
    text-decoration: none;
    color:#3A405A

  }

  a :hover{
    color:white
  }

  .btn-banner > a{
    color:white
  }
}

.trip-card-right {
padding: 6px;
border-left: 1px solid black;
width: 61%;
position: relative;
  .dates {
    position: absolute;
    top: 80px;
    text-decoration: underline;
  }

  .location {
    position: absolute;
    top: 122px;
    text-decoration: underline;

  }
  .fa-user-plus {
    position: absolute;
    top: -10px;
    right: -10px;
  }

  .edit-button-trip{
    border: none;
  }

  a{
    color:white
  };
  a :hover{
    color: white
  }

}
