.trip-card {
background-color: #DCF2E9;
border: rgb(194, 191, 191) 1px solid;
border-radius: 8px;
position: relative;
display: flex;
height: 180px;
box-shadow: 2px 2px 3px gray;

  p {
    font-size: 16px;
  }

  img {
    width: 100px;
    border-radius: 8px;
    position: absolute;
    right: 8px;
    top: 8px;
  }
}

.trip-card-left {
  width: 61%;
  p {
    height: 67%;
    padding: 0px 10px;
    overflow: hidden;
  }

  h4 {
    padding: 10px 10px;
  }
}

.trip-card-right {
padding: 6px;
border-left: 1px solid black;
  .dates {
    position: absolute;
    top: 80px;
    text-decoration: underline;
  }

  .location {
    position: absolute;
    top: 122px;
    text-decoration: underline;

  }
}
